Source: ruby-smart-proxy-dhcp-infoblox
Section: ruby
Priority: optional
Maintainer: Klaas Demter <demter@atix.de>
Build-Depends: debhelper (>= 7.0.50~), gem2deb
Standards-Version: 3.9.5
Homepage: https://github.com/theforeman/smart_proxy_dhcp_infoblox
XS-Ruby-Versions: all

Package: ruby-smart-proxy-dhcp-infoblox
Architecture: all
XB-Ruby-Versions: ${ruby:Versions}
Depends: ${shlibs:Depends}, ${misc:Depends}, ruby | ruby-interpreter, foreman-proxy (>= 1.13.0), ruby-infoblox (>= 0.4.1)
Description: Infoblox DHCP provider plugin for Foreman's smart proxy
 Infoblox DHCP provider plugin for Foreman's smart proxy
